-# This file is in app/views/companies/index.html.haml

%p{:class => 'text-center'} 
  aantal bedrijven :
  = @companies.count
  = link_to "Bedrijf toevoegen" , new_company_path, class: 'btn btn-primary btn-xs' 
= form_tag companies_path, :id => "selections_form", :method => :get do
  %div{:class => 'bluebox bg-info pull-left'} 
    Inclusief:
    - @all_selections.each do |selection|
      = selection
      -if @selected.has_key?(selection) == true
        = check_box_tag "selections[#{selection}]",1,true, :id => selection.to_s
      -else
        = check_box_tag "selections[#{selection}]", :id => selection.to_s
  -#debugger
  
  %div{:class => 'ecabox bg-warning pull-left'} 
    Ecabo:
    all
    = radio_button_tag "ecabo", "all", (params[:ecabo] == "all"), :class=> 'ecabox'
    ja 
    = radio_button_tag "ecabo", "ja", (params[:ecabo] == "ja"), :class=> 'ecabox'
    nee
    = radio_button_tag "ecabo", "nee", (params[:ecabo] == "nee" ), :class=> 'ecabox'
    
  = submit_tag 'Refresh', :id => "selections_submit"
    

  
%table{:class => 'table-class table-condensed table-bordered table-striped table-responsive'}
  %thead
    %tr 
      %th{:class => @name_class}= link_to "Naam", companies_path()+"/sort/name", :id => "name_header"
      %th{:class => @city_class}= link_to "Woonplaats", companies_path()+"/sort/city", :id => "city_header"
      
      %th App
      %th Beh
      %th Net
      %th Ecabo
  %tbody
    -#debugger
    =render :partial=>'company', :collection=>@companies


