!!! 5
%html

	%head
		%title Stagebeheer
		= stylesheet_link_tag 'application'
		= stylesheet_link_tag 'custom'
		= csrf_meta_tags

	%body
		- if flash[:notice]
			#notice.message= flash[:notice]
		- elsif flash[:warning]
			#warning.message= flash[:warning]
		=yield